body{
	background-color: #BBDEFB;
	font-size:16px;
}

.jumbotron{

	background-image: url(ice.jpg);
	height: 500px;
	color: #9E9E9E;

}

.jumbotron h1{

	font-size: 60px;
	font-weight: bold;

}

.jumbotron p{

	font-size: 26px;
		
}

.contact-info{

	font-size: 10px;
	padding-left: 30px; 

}

a:hover{

	color:#90CAF9;
	
}

.container{

 	padding-left: 50px;
 	padding-right: 50px;
 	background-color: #BBDEFB;

}

.row {

	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;

}

.row h3{

	font-weight: bold;
	text-transform: uppercase;

}

#pic{

	height: 200px;
	width:auto;
	padding-left: 60px;
	padding-top: 20px;

}

#excelen{

	padding-top: 100px;

}
#core{

	padding-left: 60px;
	padding-top: 100px;
}

#asu{

	padding-top: 15px;
}

#sbhse{

	padding-top: 60px;
}

.thumbnail{

	height:100px;
	background: none;
	border: 0;

}

#degree{

	font-size: 20px;
	font-style: bold;

}

h5{

	font-style: bold;
	font-size: 10px;
	text-transform: uppercase;

}



