body{

	background-color: #B3E5FC;
	font-size:16px;
	
}

.row p{

 	font-family: 'Raleway', sans-serif;

}

.row ul{

 	font-family: 'Raleway', sans-serif;

}

.jumbotron{

	background-image: url(ice.jpg);
	height: 500px;
	color: #4FC3F7
;

}

.jumbotron h1{

	font-size: 60px;
	font-weight: bold;

}

.jumbotron p{

	font-size: 26px;
		
}

.contact-info{

	font-size: 10px;
	padding-left: 30px; 

}

a:hover{

	color:#B3E5FC
;
	
}

.container{

 	padding-left: 50px;
 	padding-right: 50px;

}

.row {

	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;


}

.row h3{

	font-weight: bold;
	text-transform: uppercase;

}

#pic{

	height: 200px;
	width:auto;
	padding-left: 60px;
	padding-top: 20px;

}

#excelen{

	padding-top: 100px;

}
#core{

	padding-left: 60px;
	padding-top: 100px;

}

#asu{

	padding-top: 15px;
}

#sbhse{

	padding-top: 60px;
}

.thumbnail{

	height:100px;
	background: none;
	border: 0;

}

#degree p{

	font-size: 19px;
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;

}

h4{

	font-weight: bold;
}

h5{

	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;

}



